/*
 * Device Tree Source for the Eagle board
 *
 * Copyright (C) 2016-2017 Renesas Electronics Corp.
 * Copyright (C) 2017 Cogent Embedded, Inc.
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/dts-v1/;
#include "r8a77970.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Renesas Eagle board based on r8a77970";
	compatible = "renesas,eagle", "renesas,r8a77970";

	aliases {
		serial0 = &scif0;
		ethernet0 = &avb;
	};

	chosen {
		bootargs = "ignore_loglevel rw root=/dev/nfs ip=dhcp";
		stdout-path = "serial0:115200n8";
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0x0 0x48000000 0x0 0x38000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* device specific region for Lossy Decompression */
		lossy_decompress: linux,lossy_decompress {
			no-map;
			reg = <0x00000000 0x6c000000 0x0 0x03000000>;
		};

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x6f000000 0x0 0x10000000>;
			linux,cma-default;
		};

		/* device specific region for contiguous allocations */
		linux,multimedia {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x7f000000 0x0 0x01000000>;
		};
	};

	mmngr {
		compatible = "renesas,mmngr";
		memory-region = <&lossy_decompress>;
	};

	mmngrbuf {
		compatible = "renesas,mmngrbuf";
	};

	vspm_if {
		compatible = "renesas,vspm_if";
	};

	hdmi-out {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con_out: endpoint {
				remote-endpoint = <&adv7511_out>;
			};
		};
	};

	d3p3: regulator-fixed {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	lvds-decoder {
		compatible = "thine,thc63lvd1024";

		vcc-supply = <&d3p3>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				thc63lvd1024_in: endpoint {
					remote-endpoint = <&lvds0_out>;
				};
			};

			port@2 {
				reg = <2>;
				thc63lvd1024_out: endpoint {
					remote-endpoint = <&adv7511_in>;
				};
			};
		};
	};

	x1_clk: x1-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <148500000>;
	};
};

&avb {
	pinctrl-0 = <&avb_pins>;
	pinctrl-names = "default";

	renesas,no-ether-link;
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	status = "okay";

	phy0: ethernet-phy@0 {
		rxc-skew-ps = <1500>;
		reg = <0>;
		interrupt-parent = <&gpio1>;
		interrupts = <17 IRQ_TYPE_LEVEL_LOW>;
	};
};

&canfd {
	pinctrl-0 = <&canfd0_pins>;
	pinctrl-names = "default";
	status = "okay";

	channel0 {
		status = "okay";
	};
};

&csi40 {
	status = "okay";

	virtual,channel {
		csi2_vc0 {
			data,type = "ycbcr422";
			receive,vc = <0>;
		};
		csi2_vc1 {
			data,type = "ycbcr422";
			receive,vc = <1>;
		};
		csi2_vc2 {
			data,type = "ycbcr422";
			receive,vc = <2>;
		};
		csi2_vc3 {
			data,type = "ycbcr422";
			receive,vc = <3>;
		};
	};

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		csi40_ep: endpoint {
			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			csi-rate = <300>;
		};
	};
};

&du {
	clocks = <&cpg CPG_MOD 724>,
		 <&cpg CPG_MOD 727>,
		 <&x1_clk>;
	clock-names = "du.0", "lvds.0", "dclkin.0";
	status = "okay";

	ports {
		port@1 {
			lvds0_out: endpoint {
				remote-endpoint = <&thc63lvd1024_in>;
			};
		};
	};
};

&extal_clk {
	clock-frequency = <16666666>;
};

&extalr_clk {
	clock-frequency = <32768>;
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	io_expander: gpio@20 {
		compatible = "onnn,pca9654";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	hdmi@39 {
		compatible = "adi,adv7511w";
		reg = <0x39>;
		interrupt-parent = <&gpio1>;
		interrupts = <20 IRQ_TYPE_LEVEL_LOW>;

		adi,input-depth = <8>;
		adi,input-colorspace = "rgb";
		adi,input-clock = "1x";
		adi,input-style = <1>;
		adi,input-justification = "evenly";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				adv7511_in: endpoint {
					remote-endpoint = <&thc63lvd1024_out>;
				};
			};

			port@1 {
				reg = <1>;
				adv7511_out: endpoint {
					remote-endpoint = <&hdmi_con_out>;
				};
			};
		};
	};
};

&i2c3 {
	pinctrl-0 = <&i2c3_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	ov106xx@0 {
		compatible = "ovti,ov106xx";
		reg = <0x60>;

		port@0 {
			ov106xx_in0: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&vin0ep0>;
			};
		};
		port@1 {
			ov106xx_max9286_des0ep0: endpoint@0 {
				remote-endpoint = <&max9286_des0ep0>;
			};
		};
	};

	ov106xx@1 {
		compatible = "ovti,ov106xx";
		reg = <0x61>;

		port@0 {
			ov106xx_in1: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&vin1ep0>;
			};
		};
		port@1 {
			ov106xx_max9286_des0ep1: endpoint@0 {
				remote-endpoint = <&max9286_des0ep1>;
			};
		};
	};

	ov106xx@2 {
		compatible = "ovti,ov106xx";
		reg = <0x62>;

		port@0 {
			ov106xx_in2: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&vin2ep0>;
			};
		};
		port@1 {
			ov106xx_max9286_des0ep2: endpoint@0 {
				remote-endpoint = <&max9286_des0ep2>;
			};
		};
	};

	ov106xx@3 {
		compatible = "ovti,ov106xx";
		reg = <0x63>;

		port@0 {
			ov106xx_in3: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&vin3ep0>;
			};
		};
		port@1 {
			ov106xx_des0ep3: endpoint {
				remote-endpoint = <&max9286_des0ep3>;
			};
		};
	};

	max9286@0 {
		compatible = "maxim,max9286";
		reg = <0x48>;
		gpios = <&io_expander 0 GPIO_ACTIVE_LOW>; /* MAX9286 PWDN */
		maxim,gpio0 = <0>;
		maxim,sensor_delay = <100>;
		maxim,links = <4>;
		maxim,lanes = <4>;
		maxim,resetb-gpio = <1>;
		maxim,fsync-mode = "automatic";
		maxim,timeout = <100>;

		port@0 {
			max9286_des0ep0: endpoint@0 {
				max9271-addr = <0x50>;
				dvp-order = <1>;
				remote-endpoint = <&ov106xx_in0>;
			};
			max9286_des0ep1: endpoint@1 {
				max9271-addr = <0x51>;
				dvp-order = <1>;
				remote-endpoint = <&ov106xx_in1>;
			};
			max9286_des0ep2: endpoint@2 {
				max9271-addr = <0x52>;
				dvp-order = <1>;
				remote-endpoint = <&ov106xx_in2>;
			};
			max9286_des0ep3: endpoint@3 {
				max9271-addr = <0x53>;
				dvp-order = <1>;
				remote-endpoint = <&ov106xx_in3>;
			};
		};
		port@1 {
			max9286_csi0ep0: endpoint {
				csi-rate = <700>;
				remote-endpoint = <&csi40_ep>;
			};
		};
	};
};

&pfc {
	avb_pins: avb0 {
		groups = "avb0_mdio", "avb0_rgmii", "avb0_txcrefclk";
		function = "avb0";
	};

	canfd0_pins: canfd0 {
		groups = "canfd0_data_a";
		function = "canfd0";
	};

	i2c0_pins: i2c0 {
		groups = "i2c0";
		function = "i2c0";
	};

	i2c3_pins: i2c3 {
		groups = "i2c3_a";
		function = "i2c3";
	};

	scif0_pins: scif0 {
		groups = "scif0_data";
		function = "scif0";
	};
};

&rwdt {
	timeout-sec = <60>;
	status = "okay";
};

&scif0 {
	pinctrl-0 = <&scif0_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&vin0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			vin0ep0: endpoint {
				csi,select = "csi40";
				virtual,channel = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&ov106xx_in0>;
			};
		};
		port@1 {
			csi0ep0: endpoint {
				remote-endpoint = <&csi40_ep>;
			};
		};
		port@2 {
			vin0_max9286_des0ep0: endpoint@0 {
				remote-endpoint = <&max9286_des0ep0>;
			};
		};
	};
};

&vin1 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			vin1ep0: endpoint {
				csi,select = "csi40";
				virtual,channel = <1>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&ov106xx_in1>;
			};
		};
		port@1 {
			csi0ep1: endpoint {
				remote-endpoint = <&csi40_ep>;
			};
		};
		port@2 {
			vin1_max9286_des0ep1: endpoint@0 {
				remote-endpoint = <&max9286_des0ep1>;
			};
		};
	};
};

&vin2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			vin2ep0: endpoint {
				csi,select = "csi40";
				virtual,channel = <2>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&ov106xx_in2>;
			};
		};
		port@1 {
			csi0ep2: endpoint {
				remote-endpoint = <&csi40_ep>;
			};
		};
		port@2 {
			vin2_max9286_des0ep2: endpoint@0 {
				remote-endpoint = <&max9286_des0ep2>;
			};
		};
	};
};

&vin3 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			vin3ep0: endpoint {
				csi,select = "csi40";
				virtual,channel = <3>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&ov106xx_in3>;
			};
		};
		port@1 {
			csi0ep3: endpoint {
				remote-endpoint = <&csi40_ep>;
			};
		};
		port@2 {
			vin3_max9286_des0ep3: endpoint@0 {
				remote-endpoint = <&max9286_des0ep3>;
			};
		};
	};
};
