/*
 * Device Tree Source for the V3M Starter Kit board on r8a7797
 *
 * Copyright (C) 2017 Renesas Electronics Corp.
 * Copyright (C) 2017 Cogent Embedded, Inc.
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/dts-v1/;
#include "r8a77970.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Renesas V3M Starter Kit board based on r8a7797";
	compatible = "renesas,v3msk", "renesas,r8a7797";

	aliases {
		serial0 = &scif0;
		ethernet0 = &avb;
	};

	chosen {
		bootargs = "ignore_loglevel rw root=/dev/nfs ip=dhcp";
		stdout-path = "serial0:115200n8";
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0x0 0x48000000 0x0 0x78000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* device specific region for Lossy Decompression */
		lossy_decompress: linux,lossy_decompress {
			no-map;
			reg = <0x00000000 0x6c000000 0x0 0x03000000>;
		};

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x6f000000 0x0 0x10000000>;
			linux,cma-default;
		};

		/* device specific region for contiguous allocations */
		linux,multimedia {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x7f000000 0x0 0x01000000>;
		};
	};

	mmngr {
		compatible = "renesas,mmngr";
		memory-region = <&lossy_decompress>;
	};

	mmngrbuf {
		compatible = "renesas,mmngrbuf";
	};

	vspm_if {
		compatible = "renesas,vspm_if";
	};

	lvds {
		compatible = "panel-lvds";

		width-mm = <210>;
		height-mm = <158>;

		data-mapping = "jeida-24";

		panel-timing {
			/* 1280x800 @60Hz */
			clock-frequency = <65000000>;
			hactive = <1280>;
			vactive = <800>;
			hsync-len = <40>;
			hfront-porch = <80>;
			hback-porch = <40>;
			vfront-porch = <14>;
			vback-porch = <14>;
			vsync-len = <4>;
		};

		port {
			lvds_in: endpoint {
				remote-endpoint = <&du_out_lvds0>;
			};
		};
	};

	hdmi-out {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con: endpoint {
				remote-endpoint = <&adv7511_out>;
			};
		};
	};

	dclkin_p0: clock-out0 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <148500000>;
	};

	msiof_ref_clk: msiof-ref-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <66666666>;
	};

	vcc_3v3: regulator0 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-VCC3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vcc_vddq_vin0: regulator1 {
		compatible = "regulator-fixed";
		regulator-name = "VCC-VDDQ-VIN0";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};
};

&du {
	status = "okay";

	ports {
		port@0 {
			endpoint {
				remote-endpoint = <&adv7511_in>;
//				remote-endpoint = <&lvds_in>;
			};
		};
	};
};

&extal_clk {
	clock-frequency = <16666666>;
};

&extalr_clk {
	clock-frequency = <32768>;
};

&pfc {
	pinctrl-0 = <&scif_clk_pins>;
	pinctrl-names = "default";

	scif0_pins: scif0 {
		groups = "scif0_data";
		function = "scif0";
	};

	scif_clk_pins: scif_clk {
		groups = "scif_clk_b";
		function = "scif_clk";
	};

	i2c0_pins: i2c0 {
		groups = "i2c0";
		function = "i2c0";
	};

	avb_pins: avb {
		groups = "avb0_mdc";
		function = "avb0";
	};

	sdhi2_pins_3v3: sdhi2_3v3 {
		groups = "mmc_data8", "mmc_ctrl";
		function = "mmc";
		power-source = <3300>;
	};
};

&scif0 {
	pinctrl-0 = <&scif0_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&scif_clk {
	clock-frequency = <14745600>;
	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	hdmi@39{
		compatible = "adi,adv7511w";
		#sound-dai-cells = <0>;
		reg = <0x39>;
		interrupt-parent = <&gpio1>;
		interrupts = <20 IRQ_TYPE_LEVEL_LOW>;

		adi,input-depth = <8>;
		adi,input-colorspace = "rgb";
		adi,input-clock = "1x";
		adi,input-style = <1>;
		adi,input-justification = "evenly";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				adv7511_in: endpoint {
					remote-endpoint = <&du_out_lvds0>;
				};
			};
			port@1 {
				reg = <1>;
				adv7511_out: endpoint {
					remote-endpoint = <&hdmi_con>;
				};
			};
		};
	};

	pmic@5A {
		compatible = "dlg,da9063";
		reg = <0x5A>;
		interrupt-parent = <&intc_ex>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;

		rtc {
			compatible = "dlg,da9063-rtc";
		};

		wdt {
			compatible = "dlg,da9063-watchdog";
		};

		regulators {
			DA9063_LDO11: bmem {
				regulator-name = "bmem";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};

		onkey {
			compatible = "dlg,da9063-onkey";
		};
	};

};

&wdt0 {
	status = "okay";
};

&avb {
	pinctrl-0 = <&avb_pins>;
	pinctrl-names = "default";
	renesas,no-ether-link;
	phy-handle = <&phy0>;
	status = "okay";
	phy-int-gpio = <&gpio1 17 GPIO_ACTIVE_LOW>;

	phy0: ethernet-phy@0 {
		rxc-skew-ps = <1500>;
		rxdv-skew-ps = <420>; /* default */
		rxd0-skew-ps = <420>; /* default */
		rxd1-skew-ps = <420>; /* default */
		rxd2-skew-ps = <420>; /* default */
		rxd3-skew-ps = <420>; /* default */
		txc-skew-ps = <900>; /* default */
		txen-skew-ps = <420>; /* default */
		txd0-skew-ps = <420>; /* default */
		txd1-skew-ps = <420>; /* default */
		txd2-skew-ps = <420>; /* default */
		txd3-skew-ps = <420>; /* default */
		reg = <0>;
		interrupt-parent = <&gpio1>;
		interrupts = <17 IRQ_TYPE_LEVEL_LOW>;
		max-speed = <1000>;
	};
};

&sdhi2 {
	/* used for on-board eMMC */
	pinctrl-0 = <&sdhi2_pins_3v3>;
	pinctrl-names = "default";

	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&vcc_vddq_vin0>;
	no-1-8-v;
	cap-mmc-highspeed;
	bus-width = <8>;
	non-removable;
	status = "okay";
};
