/*
 * Device Tree Source for the V3HSK Videobox Mini board on r8a7798
 *
 * Copyright (C) 2018 Cogent Embedded, Inc.
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

#include "r8a77980-v3hsk.dts"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Renesas V3HSK Videobox Mini board based on r8a7798";

	aliases {
		serial1 = &scif3;
	};
};

&canfd {
	pinctrl-0 = <&canfd0_pins &canfd1_pins>;
	pinctrl-names = "default";
	status = "okay";

	channel0 {
		status = "okay";
	};

	channel1 {
		status = "okay";
	};
};

&csi41 {
	status = "okay";

	virtual,channel {
		csi2_vc0 {
			data,type = "ycbcr422";
			receive,vc = <0>;
		};
		csi2_vc1 {
			data,type = "ycbcr422";
			receive,vc = <1>;
		};
		csi2_vc2 {
			data,type = "ycbcr422";
			receive,vc = <2>;
		};
		csi2_vc3 {
			data,type = "ycbcr422";
			receive,vc = <3>;
		};
	};

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		csi41_ep: endpoint {
			clock-lanes = <0>;
			data-lanes = <1 2 3 4>;
			csi-rate = <300>;
		};
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";
	status = "okay";

	clock-frequency = <400000>;

	i2cswitch1: i2c-switch@74 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x74>;
		reset-gpios = <&gpio2 28 GPIO_ACTIVE_LOW>;

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			ov106xx@0 {
				compatible = "ovti,ov106xx";
				reg = <0x60>;

				port@0 {
					ov106xx_in0: endpoint {
						clock-lanes = <0>;
						data-lanes = <1 2 3 4>;
						remote-endpoint = <&vin4ep0>;
					};
				};
				port@1 {
					ov106xx_max9286_des0ep0: endpoint@0 {
						remote-endpoint = <&max9286_des0ep0>;
					};
					ov106xx_ti9x4_des0ep0: endpoint@1 {
						remote-endpoint = <&ti9x4_des0ep0>;
					};
				};
			};

			ov106xx@1 {
				compatible = "ovti,ov106xx";
				reg = <0x61>;

				port@0 {
					ov106xx_in1: endpoint {
						clock-lanes = <0>;
						data-lanes = <1 2 3 4>;
						remote-endpoint = <&vin5ep0>;
					};
				};
				port@1 {
					ov106xx_max9286_des0ep1: endpoint@0 {
						remote-endpoint = <&max9286_des0ep1>;
					};
					ov106xx_ti9x4_des0ep1: endpoint@1 {
						remote-endpoint = <&ti9x4_des0ep1>;
					};
				};
			};

			ov106xx@2 {
				compatible = "ovti,ov106xx";
				reg = <0x62>;

				port@0 {
					ov106xx_in2: endpoint {
						clock-lanes = <0>;
						data-lanes = <1 2 3 4>;
						remote-endpoint = <&vin6ep0>;
					};
				};
				port@1 {
					ov106xx_max9286_des0ep2: endpoint@0 {
						remote-endpoint = <&max9286_des0ep2>;
					};
					ov106xx_ti9x4_des0ep2: endpoint@1 {
						remote-endpoint = <&ti9x4_des0ep2>;
					};
				};
			};

			ov106xx@3 {
				compatible = "ovti,ov106xx";
				reg = <0x63>;

				port@0 {
					ov106xx_in3: endpoint {
						clock-lanes = <0>;
						data-lanes = <1 2 3 4>;
						remote-endpoint = <&vin7ep0>;
					};
				};
				port@1 {
					ov106xx_max9286_des0ep3: endpoint@0 {
						remote-endpoint = <&max9286_des0ep3>;
					};
					ov106xx_ti9x4_des0ep3: endpoint@1 {
						remote-endpoint = <&ti9x4_des0ep3>;
					};
				};
			};

			max9286@0 {
				compatible = "maxim,max9286";
				reg = <0x2c>;
				maxim,links = <4>;
				maxim,lanes = <4>;
				maxim,resetb-gpio = <1>;
				maxim,fsync-mode = "automatic";
				maxim,timeout = <100>;

				POC0-gpios = <&gpio_exp_6c 8 GPIO_ACTIVE_HIGH>;
				POC1-gpios = <&gpio_exp_6c 9 GPIO_ACTIVE_HIGH>;
				POC2-gpios = <&gpio_exp_6c 10 GPIO_ACTIVE_HIGH>;
				POC3-gpios = <&gpio_exp_6c 11 GPIO_ACTIVE_HIGH>;

				port@0 {
					max9286_des0ep0: endpoint@0 {
						max9271-addr = <0x50>;
						dvp-order = <1>;
						remote-endpoint = <&ov106xx_in0>;
					};
					max9286_des0ep1: endpoint@1 {
						max9271-addr = <0x51>;
						dvp-order = <1>;
						remote-endpoint = <&ov106xx_in1>;
					};
					max9286_des0ep2: endpoint@2 {
						max9271-addr = <0x52>;
						dvp-order = <1>;
						remote-endpoint = <&ov106xx_in2>;
					};
					max9286_des0ep3: endpoint@3 {
						max9271-addr = <0x53>;
						dvp-order = <1>;
						remote-endpoint = <&ov106xx_in3>;
					};
				};
				port@1 {
					max9286_csi1ep0: endpoint {
						csi-rate = <700>;
						remote-endpoint = <&csi41_ep>;
					};
				};
			};

			ti9x4@0 {
				compatible = "ti,ti9x4";
				reg = <0x3a>;
				ti,links = <4>;
				ti,lanes = <4>;
				ti,forwarding-mode = "round-robin";

				POC0-gpios = <&gpio_exp_6c 8 GPIO_ACTIVE_HIGH>;
				POC1-gpios = <&gpio_exp_6c 9 GPIO_ACTIVE_HIGH>;
				POC2-gpios = <&gpio_exp_6c 10 GPIO_ACTIVE_HIGH>;
				POC3-gpios = <&gpio_exp_6c 11 GPIO_ACTIVE_HIGH>;

				port@0 {
					ti9x4_des0ep0: endpoint@0 {
						ti9x3-addr = <0x0c>;
						dvp-order = <0>;
						remote-endpoint = <&ov106xx_in0>;
					};
					ti9x4_des0ep1: endpoint@1 {
						ti9x3-addr = <0x0d>;
						dvp-order = <0>;
						remote-endpoint = <&ov106xx_in1>;
					};
					ti9x4_des0ep2: endpoint@2 {
						ti9x3-addr = <0x0e>;
						dvp-order = <0>;
						remote-endpoint = <&ov106xx_in2>;
					};
					ti9x4_des0ep3: endpoint@3 {
						ti9x3-addr = <0x0f>;
						dvp-order = <0>;
						remote-endpoint = <&ov106xx_in3>;
					};
				};
				port@1 {
					ti9x4_csi0ep0: endpoint {
						csi-rate = <700>;
						remote-endpoint = <&csi41_ep>;
					};
				};
			};
		};

		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			gpio_exp_6c: gpio@6c {
				compatible = "maxim,max7325";
				reg = <0x6c>;
				gpio-controller;
				#gpio-cells = <2>;

				virq {
					gpio-hog;
					gpios = <5 GPIO_ACTIVE_HIGH>;
					input;
					line-name = "VIRQ";
				};
				des_cfg {
					gpio-hog;
					gpios = <6 GPIO_ACTIVE_HIGH>;
					input;
					line-name = "CNFG0";
				};
				pwr_shdn {
					gpio-hog;
					gpios = <14 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "PWR_SHDN";
				};
				des_shdn {
					gpio-hog;
					gpios = <13 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "Des_SHDN";
				};
				fpdl_shdn {
					gpio-hog;
					gpios = <15 GPIO_ACTIVE_HIGH>;
					output-high;
					line-name = "FPDL_SHDN";
				};
			};
		};

		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;

			/* fan node - lm96063 */
			fan_ctrl: lm96063@4c {
				compatible = "lm96163";
				reg = <0x4c>;
			};
		};
	};
};

&gpio2 {
	can0_load {
		gpio-hog;
		gpios = <16 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "can0_120R_load";
	};

	can0stby {
		gpio-hog;
		gpios = <27 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "CAN0STBY";
	};

	can1_load {
		gpio-hog;
		gpios = <29 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "can1_120R_load";
	};

	wake_pin_7 {
		gpio-hog;
		gpios = <8 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "WAKE INPUT PIN 7";
	};

	wake_pin_8 {
		gpio-hog;
		gpios = <9 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "WAKE INPUT PIN 8";
	};
};

&pfc {
	canfd0_pins: canfd0 {
		groups = "canfd0_data_a";
		function = "canfd0";
	};

	canfd1_pins: canfd1 {
		groups = "canfd1_data";
		function = "canfd1";
	};

	i2c1_pins: i2c1 {
		groups = "i2c1";
		function = "i2c1";
	};

	scif3_pins: scif3 {
		groups = "scif3_data";
		function = "scif3";
	};
};

&scif3 {
	pinctrl-0 = <&scif3_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&vin4 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			vin4ep0: endpoint {
				csi,select = "csi41";
				virtual,channel = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&ov106xx_in0>;
			};
		};
		port@1 {
			csi1ep0: endpoint {
				remote-endpoint = <&csi41_ep>;
			};
		};
		port@2 {
			vin4_max9286_des0ep0: endpoint@0 {
				remote-endpoint = <&max9286_des0ep0>;
			};
			vin4_ti9x4_des0ep0: endpoint@1 {
				remote-endpoint = <&ti9x4_des0ep0>;
			};
		};
	};
};

&vin5 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			vin5ep0: endpoint {
				csi,select = "csi41";
				virtual,channel = <1>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&ov106xx_in1>;
			};
		};
		port@1 {
			csi1ep1: endpoint {
				remote-endpoint = <&csi41_ep>;
			};
		};
		port@2 {
			vin5_max9286_des0ep1: endpoint@0 {
				remote-endpoint = <&max9286_des0ep1>;
			};
			vin5_ti9x4_des0ep1: endpoint@1 {
				remote-endpoint = <&ti9x4_des0ep1>;
			};
		};
	};
};

&vin6 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			vin6ep0: endpoint {
				csi,select = "csi41";
				virtual,channel = <2>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&ov106xx_in2>;
			};
		};
		port@1 {
			csi1ep2: endpoint {
				remote-endpoint = <&csi41_ep>;
			};
		};
		port@2 {
			vin6_max9286_des0ep2: endpoint@0 {
				remote-endpoint = <&max9286_des0ep2>;
			};
			vin6_ti9x4_des0ep2: endpoint@1 {
				remote-endpoint = <&ti9x4_des0ep2>;
			};
		};
	};
};

&vin7 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			vin7ep0: endpoint {
				csi,select = "csi41";
				virtual,channel = <3>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&ov106xx_in3>;
			};
		};
		port@1 {
			csi1ep3: endpoint {
				remote-endpoint = <&csi41_ep>;
			};
		};
		port@2 {
			vin7_max9286_des0ep3: endpoint@0 {
				remote-endpoint = <&max9286_des0ep3>;
			};
			vin7_ti9x4_des0ep3: endpoint@1 {
				remote-endpoint = <&ti9x4_des0ep3>;
			};
		};
	};
};
